


.top_btn{
display: flex;
 gap: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
}
.contact_form{
  width: 50%;
  float: left;
  height: 100vh;
}
.contact_img img{
  width: 550px;
  height: 550px;
  margin-top: -70px;
  filter: drop-shadow(10px 10px gray);
}

.form_controler{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form_controler input{
  height: 40px;
  padding: 8px 10px;
  border-radius:5px;
  outline: none;
  border: none;
  border: 2px solid #2b2929;
}
.form_controler textarea{
  padding: 10px;
}
.form_controler label {
    position: absolute;  
    left: 20px;
    font-size: 18px;
    top: -12px;
    background-color: #fff;
    padding: 0px 10px;
}
.submit_btn{
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.msg{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width:768px) {
  .contact_form{
    width: 100%;
    flex-direction: column;
  }
  
}